<app-navbar></app-navbar>

<main class="main-content">
  <section class="main-intro">
    <article>
      <img src="assets/images/u6eewgjm.png" alt="Nothing">
    </article>
    <article>
      <div class="form-control">
        <h1>Welcome to <span id="brand-name">Essence Flow!</span></h1>
        <h2>Please register for an account to unlock all the features for seamless project management.</h2>
      </div>

      <form class="form-control">
        <input routerLink="/register" type="submit" id="submit" value="Register Now">
      </form>
    </article>
  </section>
  <section class="features">
    <h2>Our Features</h2>
    <div class="feature-cards">
      <div class="card">
        <h3>Feature 1</h3>
        <p>Description of feature 1...</p>
      </div>
      <div class="card">
        <h3>Feature 2</h3>
        <p>Description of feature 2...</p>
      </div>
      <div class="card">
        <h3>Feature 3</h3>
        <p>Description of feature 3...</p>
      </div>
    </div>
  </section>
</main>
